
@{
    Layout = null;
}




<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema Web | Humus Editorial</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Recursos/Plantilla/assets/images/logo1.png">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/distn/css/adminlte.min.css">

    <!-- Toastr -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.css">


    <!-- Custom CSS -->
    <link href="~/Recursos/Plantilla/dist/css/style.min.css" rel="stylesheet">



    <!--Sweetalert2-->
    <link rel="stylesheet" href="~/Recursos/Plantilla/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Recursos/Plantilla/dist/css/sweetalert2.min.css">






</head>


@{
    var foto = "imgvacia.png";
    string Nombres = "";

    foreach (var item9 in ViewBag.Usuario)
    {
        Nombres = item9.PrimerNombre + " " + item9.ApellidoPrimero;
        if (item9.Foto != null)
        {

            //foto = Session["Foto"].ToString();
            foto = item9.Foto;
        }

    }


}







<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->



        <header class="topbar" data-navbarbg="skin5">

            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">

                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="@Url.Action("IndexAdmin", "Usuario")">
                        <!-- Logo icon -->
                        <b class="logo-icon ps-3">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            @*<img src="~/Recursos/Plantilla/assets/images/iconw.png" alt="homepage" class="light-logo" />*@
                            <i class="mdi mdi-f5da mdi-book-open-page-variant text-secondary"></i>

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            @*<img src="~/Recursos/Plantilla/assets/images/title2.png" alt="homepage" class="light-logo" />*@

                            <span class="hide-menu text-secondary" style="padding-left: 5%; padding-right: 10%"> Sistema Web Humus</span>



                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <!-- <img src="~/Recursos/Plantilla/assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                               data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">

                        <!--inicio-->
                        <li class="nav-item dropdown">

                            @if (@ViewBag.NuevasNotificaciones == 1)
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" id="idlista" role="button" data-bs-toggle="dropdown" title="@ViewBag.NuevasNotificaciones Notificación nueva">
                                    <i class="mdi mdi-bell font-24"></i>

                                    <span class="badge badge-info navbar-badge">@ViewBag.NuevasNotificaciones</span>


                                </a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" id="idlista" role="button" data-bs-toggle="dropdown" title="@ViewBag.NuevasNotificaciones Notificaciones nuevas">
                                    <i class="mdi mdi-bell font-24"></i>
                                    @if (@ViewBag.NuevasNotificaciones != 0)
                                    {
                                        <span class="badge badge-info navbar-badge">@ViewBag.NuevasNotificaciones</span>
                                    }
                                </a>
                            }



                            <!--cambiar de aqui en adelante data-bs-auto-close="outside"   -->
                            <ul class="dropdown-menu dropdown-menu-end mailbox animated bounceInDown" aria-labelledby="idlista">

                                <li>
                                    <div class="">
                                        @if (@ViewBag.TotalNotificaciones == 1)
                                        {
                                            <span class="dropdown-item-title dropdown-header text-orange"><b>@ViewBag.TotalNotificaciones Notificación recibida</b></span>
                                        }
                                        else
                                        {
                                            <span class="dropdown-item-title dropdown-header  text-orange font-14 "><b>@ViewBag.TotalNotificaciones Notificaciones recibidas</b></span>
                                        }
                                        @foreach (var itemn in ViewBag.Notificaciones)
                                        {
                                            <a href="@Url.Action("Notificaciones", "Usuario")" class="dropdown-item text-secondary font-14" id="Id+@itemn.IDnotificacion">

                                                <i class="fas fa-@itemn.Icono mr-2"></i> @itemn.DetalleNotificacion
                                                @*<span class="float-right text-muted text-sm" id="p" onclick="EliminarNoti(@itemn.IDtipoNotificacion)"> <i class="mdi mdi- f156 mdi-close"></i></span>*@


                                            </a>
                                        }



                                        <a href="@Url.Action("Notificaciones", "Usuario")" class="link align-right" style="margin-top:3%">
                                            <span class="dropdown-item dropdown-header align-right text-black text-12"><b>Ver todas las notificaciones </b></span>
                                        </a>
                                    </div>
                                </li>


                            </ul>
                            <!--fin de cambio aqui-->

                        </li>





                        <!--fin-->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->


                        <li class="nav-item dropdown">
                            @*@{*@


                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                <img src="~/Recursos/Plantilla/assets/images/users/@foto" alt="user" class="rounded-circle" width="31">
                            </a>
                            @*}*@

                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" onclick="Salir()">
                                    <i class="fa fa-power-off me-1 ms-1"></i> Cerrar sesión
                                </a>

                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>






        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->




        <aside class="left-sidebar" data-sidebarbg="skin5">


            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <!--<ul id="sidebarnav" class="pt-0">-->




                        <li class="hide-menu">
                            <div style="margin-left:25%;margin-right:25%">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"><img src="~/Recursos/Plantilla/assets/images/users/@foto" alt="user" class="rounded-circle" width="100"></a>

                            </div>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" style="padding-left: 25%; padding-right: 25%"
                               href="#">
                                <span class="hide-menu">@Nombres</span>


                            </a>
                            <hr />
                        </li>




                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)">
                                <i class=" mdi mdi-f00e mdi-account-multiple"></i><span class="hide-menu">Usuarios</span>
                            </a>
                            <ul class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Registro", "Usuario")" class="sidebar-link">
                                        <i class="mdi mdi-f010 mdi-account-multiple-plus"></i><span class="hide-menu">
                                            Crear usuarios
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("ListaUsuarios", "Usuario")" class="sidebar-link">
                                        <i class="mdi mdi-f016 mdi-account-search"></i><span class="hide-menu">
                                            Consultar usuarios
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li> @*class="mdi mdi-f104 mdi-camera-iris"*@

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("GestionarProcesos", "Proceso")" aria-expanded="false">
                                <i class="mdi mdi-f0bc mdi-book-multiple-variant"></i><span class="hide-menu">Procesos</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("GestionarCuestionario", "Cuestionario")" aria-expanded="false">
                                <i class="mdi mdi-f14e mdi-clipboard-text"></i><span class="hide-menu">Cuestionario</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)" aria-expanded="false">
                                <i class="mdi mdi-f0ba mdi-book"></i><span class="hide-menu">Libros</span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="@Url.Action("ListaLibros", "Libro")" " class="sidebar-link">
                                        <i class="mdi mdi-f332 mdi-library-books"></i><span class="hide-menu">
                                            Libros en proceso
                                        </span>
                                    </a>
                                </li>

                                @*"@Url.Action("AddLibro", "Libro")"*@
                                @*href="@Url.Action("AgregarLibro", "Libro", new RouteValueDictionary(new { controller = "Libro", action = "AgregarLibro", Idlibro = ViewBag.Idlibro }))"*@
                                @*href="@Url.Action("IniciarProceso", new RouteValueDictionary(new { controller = "Proceso", action = "IniciarProceso", IDlibro = @item.IDlibro }))"*@
                                <li class="sidebar-item">
                                    <a href="@Url.Action("AgregarLibro", new RouteValueDictionary(new { controller = "Libro", action = "AgregarLibro", IDlibro = 0 }))" class="sidebar-link">
                                        <i class="mdi mdi-f5db mdi-book-plus"></i><span class="hide-menu">
                                            Agregar libro externo
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a href="@Url.Action("SolicitudesLibros", "Libro")" class="sidebar-link">
                                        <i class="mdi mdi-f218 mdi-file-delimited"></i><span class="hide-menu">
                                            Solicitudes de nuevos libros
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a href="@Url.Action("LibrosArchivados", "Libro")" class="sidebar-link">
                                        <i class="mdi mdi-f0bb mdi-book-multiple"></i><span class="hide-menu">
                                            Libros archivados
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("EditarInfoWeb", "Web")" aria-expanded="false">
                                <i class="mdi mdi-blur-linear"></i><span class="hide-menu">Sitio web</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)" aria-expanded="false">
                                <i class=" mdi mdi-f128 mdi-chart-bar"></i><span class="hide-menu">Consultas</span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Informes", "Reporte")" class="sidebar-link">
                                        <i class="mdi mdi-f219 mdi-file-document"></i><span class="hide-menu">
                                            Consultar Informes
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Estadisticas", "Consulta")" class="sidebar-link">
                                        <i class="mdi mdi-f12a mdi-chart-line"></i><span class="hide-menu">
                                            Consultar estadísticas
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("DatosConsultas", "Consulta")" class="sidebar-link">
                                        <i class="mdi mdi-f16b mdi-code-equal"></i><span class="hide-menu">
                                            Datos de consultas
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li>


                        <li class="sidebar-item" style="margin-top:2%;">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("Notificaciones", "Usuario")" aria-expanded="false">
                                <i class="mdi mdi-f09a mdi-bell"></i><span class="hide-menu">Notificaciones</span>
                            </a>
                        </li>

                        <li class="sidebar-item" style="margin-top:2%;">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("EditperfilAdmin", "Usuario")" aria-expanded="false">
                                <i class="mdi mdi-f631 mdi-account-settings-variant"></i><span class="hide-menu">Perfil</span>
                            </a>
                        </li>

                        <li class="sidebar-item" style="margin-top:2%;">

                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               onclick="Salir()">
                                <i class="mdi mdi-f012 mdi-account-off"></i><span class="hide-menu">Salir</span>
                            </a>
                        </li>

                        @*<li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark"
                           href="javascript:void(0)" aria-expanded="false">
                            <i class="mdi mdi-f493 mdi-settings"></i><span class="hide-menu">Configuraciones</span>
                        </a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item">
                                <a href="@Url.Action("EditperfilAdmin", "Usuario")" class="sidebar-link">
                                    <i class="mdi mdi-f631 mdi-account-settings-variant"></i><span class="hide-menu">
                                        Editar Perfil
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="@Url.Action("Logout", "Usuario")" class="sidebar-link">
                                    <i class="mdi mdi-f012 mdi-account-off"></i><span class="hide-menu">
                                        Cerrar Sesión
                                    </span>
                                </a>
                            </li>
                        </ul>*@

                        <!--</ul>-->
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>

            <!-- End Sidebar scroll-->
        </aside>



        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Información de estadísticas</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    @*<li class="breadcrumb-item"><a href="#"></a></li>
                                    <li class="breadcrumb-item active" aria-current="page"></li>*@
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->


            <div class="container-fluid">
                <!-- Main content -->
                <section class="invoice" style="padding-top:3%;padding-bottom:3%;padding-left:3%;padding-right:3%">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!--<aquí inicia lista de consultas-->
                                    @foreach (var item in ViewBag.Consultas)
                                    {
                                        <!--libros publicados por carrera-->
                                        if (item.Identificador == 1)
                                        {

                                            <div class="card">
                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                        <h3 class="card-title">@item.DetalleConsulta</h3>
                                                        <a target="_blank" href="@Url.Action("DetalleInforme", new RouteValueDictionary(new { controller = "Consulta", action = "DetalleInforme", idc = item.IDConsulta,ide=item.Identificador}))">Visualizar informe</a>
                                                    </div>
                                                </div>

                                                <div class="card-body">
                                                    <div class="d-flex">

                                                        <p class="d-flex flex-column">
                                                            <span class="text-bold text-lg">@ViewBag.TotalLibs</span>
                                                            <span>Total de libros</span>
                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-center">
                                                            <span class="text-success">
                                                                <i class="fas fa- fas fa-circle-notch"></i> @ViewBag.LibsProceso
                                                            </span>
                                                            <span class="text-black">Libros en proceso</span>
                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">
                                                            <span class="text-success">
                                                                <i class="fas fa-fas fa-check"></i> @ViewBag.LibsPublicados
                                                            </span>
                                                            <span class="text-black">Libros publicados</span>
                                                        </p>

                                                    </div>
                                                    @*libpublicados-chart*@

                                                    <div class="position-relative mb-4" style="margin-top:3%">
                                                        <canvas id="@item.Grafico" height="100">
                                                        </canvas>
                                                    </div>

                                                    <div class="d-flex flex-row justify-content-end">
                                                        <span class="mr-2">

                                                            <i class="fas fa-fas fa-boxes text-green"></i> <b>@ViewBag.Tcarreras Carreras</b>
                                                        </span>

                                                        <span>
                                                            @*<i class="fas fa-square text-gray"></i> Semana pasada*@
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }



                                        <!--libros publicados por carrera por períodos académicos consulta-->
                                        if (item.Identificador == 2 && item.Parametros == true)
                                        {
                                            <div class="card">
                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                        <h3 class="card-title">@item.DetalleConsulta</h3>
                                                        <a target="_blank" href="@Url.Action("DetalleInforme", new RouteValueDictionary(new { controller = "Consulta", action = "DetalleInforme",  idc = item.IDConsulta,ide=item.Identificador }))">Visualizar informe</a>
                                                    </div>
                                                </div>

                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                       
                                                        <div class="form-group">
                                                            <input id="identificador" name="identificador" value="@item.Identificador" type="hidden" />
                                                            <input id="idconsulta" name="idconsulta" value="@item.IDConsulta" type="hidden" />

                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <select id="idparametro" name="idparametro" class="required form-control text-secondary" for="position-top-right">
                                                                            <option value="0">Seleccione período a consultar...</option>
                                                                            @foreach (var item1 in ViewBag.Periodos)
                                                                            {
                                                                                <option @if (ViewBag.Periodo == @item1.IDperiodo) { @Html.Raw("selected") } value="@item1.IDperiodo">@item1.Detalleperiodo</option>
                                                                            }


                                                                        </select>

                                                                    </div>
                                                                    <div class="col-2">


                                                                        <button class="btn btn-info btn-sm" type="button" id="con1">Consultar</button>

                                                                    </div>

                                                                </div>
                                                                <small class="text-left text-green" style="margin-top:5%;margin-left:3%"><b>Seleccione período a consultar</b></small>

                                                               

                                                            </div>

                                                        </div>
                                                        
                                                    </div>
                                                </div>

                                                <div class="card-body">

                                                    <div class="d-flex">

                                                        <p class="d-flex flex-column">
                                                            <span class="text-bold text-lg" id="lt"></span>
                                                            <span>Total de libros</span>
                                                          
                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">

                                                          
                                                            <div>
                                                                <div class="text-success text-center">
                                                                    <i class="fas fa- fas fa-history">

                                                                    </i>
                                                                    <span class="text-success" id="lpp">

                                                                    </span>
                                                                </div>
                                                               
                                                               
                                                                <span class="text-black"> Libros publicados en este período</span>
                                                            </div>
                                                           
                                                            
                                                        
                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">

                                                            <div>
                                                                <div class="text-success text-right">
                                                                    <i class="fas fa-fas fa-check"></i>
                                                                    <span class="text-success" id="ltp">

                                                                    </span>
                                                                </div>


                                                                <span class="text-black">Total libros publicados</span>
                                                            </div>

                                                           
                                                        </p>

                                                    </div>
                                                  

                                                    <div class="position-relative mb-4" style="margin-top:3%">
                                                        <canvas id="@item.Grafico" height="100">
                                                        </canvas>
                                                    </div>

                                                    <div class="d-flex flex-row justify-content-end">
                                                        <span class="mr-2" >
                                                            <i class="fas fa-calendar text-success"></i> <b id="detallep"></b>
                                                           
                                                        </span>

                                                        <span>
                                                          
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }



                                        <!--libros publicados por carrera por año consulta-->
                                        if (item.Identificador == 3 && item.Parametros == true)
                                        {
                                            <div class="card">
                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                        <h3 class="card-title">@item.DetalleConsulta</h3>
                                                        <a target="_blank" href="@Url.Action("DetalleInforme", new RouteValueDictionary(new { controller = "Consulta", action = "DetalleInforme",  idc = item.IDConsulta,ide=item.Identificador }))">Visualizar informe</a>

                                                    </div>
                                                </div>

                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                        

                                                        <div class="form-group">
                                                            <input id="identificador1" name="identificador1" value="@item.Identificador" type="hidden" />
                                                            <input id="idconsulta1" name="idconsulta1" value="@item.IDConsulta" type="hidden" />

                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <select id="idparametro1" name="idparametro1" class="required form-control text-secondary" for="position-top-right">
                                                                            <option value="0">Seleccione año a consultar...</option>
                                                                            @foreach (var item2 in ViewBag.years)
                                                                            {
                                                                                <option @if (ViewBag.year == @item2.IDyear) { @Html.Raw("selected") } value="@item2.IDyear">@item2.year</option>
                                                                            }


                                                                        </select>

                                                                    </div>
                                                                    <div class="col-2">


                                                                        <button class="btn btn-info btn-sm" type="button" id="con2">Consultar</button>
                                                                    </div>
                                                                </div>
                                                                <small class="text-left text-green" style="margin-top:5%;margin-left:4%"><b>Seleccione año a consultar</b></small>
                                                               
                                                            </div>

                                                        </div>

                                                       
                                                    </div>
                                                </div>

                                                <div class="card-body">




                                                    <!--/-->
                                                    <div class="d-flex">

                                                        <p class="d-flex flex-column">
                                                            <span class="text-bold text-lg" id="lt1"></span>
                                                            <span>Total de libros</span>

                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">


                                                            <div>
                                                                <div class="text-success text-center">
                                                                    <i class="fas fa- fas fa-history">

                                                                    </i>
                                                                    <span class="text-success" id="lpy">

                                                                    </span>
                                                                </div>


                                                                <span class="text-black"> Libros publicados en este año</span>
                                                            </div>



                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">

                                                            <div>
                                                                <div class="text-success text-right">
                                                                    <i class="fas fa-fas fa-check"></i>
                                                                    <span class="text-success" id="lty">

                                                                    </span>
                                                                </div>


                                                                <span class="text-black">Total libros publicados</span>
                                                            </div>


                                                        </p>

                                                    </div>

                                                

                                                    <div class="position-relative mb-4" style="margin-top:3%">
                                                        <canvas id="@item.Grafico" height="100">
                                                        </canvas>
                                                    </div>

                                                    <div class="d-flex flex-row justify-content-end">
                                                        <span class="mr-2">
                                                            <i class="fas fa-square text-success"></i><b> Año </b> <b id="detalley"> </b>
                                                        </span>

                                                        <span>
                                                          
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }



                                        if (item.Identificador == 4)
                                        {
                                            <!--libros más accedidos desde página web-->
                                            <div class="card">
                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                        <h3 class="card-title">@item.DetalleConsulta</h3>
                                                        <a target="_blank" href="@Url.Action("DetalleInforme", new RouteValueDictionary(new { controller = "Consulta", action = "DetalleInforme",  idc = item.IDConsulta,ide=item.Identificador }))">Visualizar informe</a>
                                                    </div>
                                                </div>


                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <p class="d-flex flex-column">
                                                            <span class="text-bold text-lg">@ViewBag.LibsPublicados</span>
                                                            <span>Total de libros publicados</span>
                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">
                                                            <span class="text-success">
                                                                <i class="fas fa-book-reader"></i> @ViewBag.Vistas
                                                            </span>
                                                            <span class="text-muted">Total de vistas de libros</span>
                                                        </p>
                                                    </div>


                                                    <div class="position-relative mb-4">
                                                        <canvas id="@item.Grafico" height="100"></canvas>
                                                    </div>

                                                    <div class="d-flex flex-row justify-content-end">
                                                        @*<span class="mr-2">
                                                            <i class="fas fa-square text-primary"></i> This Week
                                                        </span>*@

                                                        @*<span>
                                                            <i class="fas fa-square text-gray"></i> Last Week
                                                        </span>*@
                                                    </div>
                                                </div>
                                            </div>

                                        }





                                        if (item.Identificador == 5 && item.Parametros == true)
                                        {
                                            <div class="card">
                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                        <h3 class="card-title">@item.DetalleConsulta</h3>
                                                        <a target="_blank" href="@Url.Action("DetalleInforme", new RouteValueDictionary(new { controller = "Consulta", action = "DetalleInforme",  idc = item.IDConsulta,ide=item.Identificador }))">Visualizar informe</a>
                                                    </div>
                                                </div>
                                                <div class="card-header border-0">
                                                    <div class="d-flex justify-content-between">
                                                       
                                                        <div class="form-group">
                                                            <input id="identificador2" name="identificador2" value="@item.Identificador" type="hidden" />
                                                            <input id="idconsulta2" name="idconsulta2" value="@item.IDConsulta" type="hidden" />

                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-10">
                                                                        <select id="idparametro2" name="idparametro2" class="required form-control text-secondary" for="position-top-right">
                                                                            <option value="0">Seleccione año a consultar...</option>
                                                                            @foreach (var item2 in ViewBag.years)
                                                                            {
                                                                                <option @if (ViewBag.year1 == @item2.IDyear) { @Html.Raw("selected") } value="@item2.IDyear">@item2.year</option>
                                                                            }


                                                                        </select>

                                                                    </div>
                                                                    <div class="col-2">

                                                                     
                                                                        <button class="btn btn-info btn-sm" type="button" id="con3">Consultar</button>
                                                                    </div>
                                                                </div>
                                                                <small class="text-left text-green" style="margin-top:5%;margin-left:4%"><b>Seleccione año a consultar</b></small>
                                                             
                                                            </div>

                                                        </div>

                                                        
                                                    </div>
                                                </div>

                                                <div class="card-body">

                                                    <div class="d-flex">

                                                        <p class="d-flex flex-column">
                                                            <span class="text-bold text-lg" id="lt2"></span>
                                                            <span>Total de libros publicados</span>

                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">


                                                            <div>
                                                                <div class="text-success text-center">
                                                                    <i class="fas fa-fas fa-globe"></i>
                                                                    <span class="text-success" id="lvy">

                                                                    </span>
                                                                </div>


                                                                <span class="text-black"> Total de vistas este año</span>
                                                            </div>



                                                        </p>
                                                        <p class="ml-auto d-flex flex-column text-right">

                                                            <div>
                                                                <div class="text-success text-right">
                                                                    <i class="fas fa-book-reader"></i>
                                                                    <span class="text-success" id="ltv">

                                                                    </span>
                                                                </div>


                                                                <span class="text-black">Total de vistas de libros</span>
                                                            </div>


                                                        </p>

                                                    </div>


                                                

                                                    <div class="position-relative mb-4">
                                                        <canvas id="@item.Grafico" height="100"></canvas>
                                                    </div>

                                                    <div class="d-flex flex-row justify-content-end">
                       

                                                        <span>
                                                            <i class="fas fa-square text-success"></i><b> Año </b> <b id="detalley2"> </b>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    }


















                                </div>



                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->
                    </div>


                </section>
                <!-- /.content -->
            </div>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                @{
                    string date = DateTime.Now.ToString("MM-dd-yyyy");
                    string year = date.Substring(6, 4);

                }
                <img src="https://localhost:44329/ImagesWeb/logo.png" alt="user" width="100"> Coordinación General de Investigación - Editorial Humus. © @year.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->


    <!-- Jquery -->
    <script src="~/Recursos/Plantilla/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Recursos/Plantilla/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Recursos/Plantilla/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>

    <!-- Toastr -->
    <script src="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.js"></script>

    <!--Wave Effects -->
    <script src="~/Recursos/Plantilla/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Recursos/Plantilla/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Recursos/Plantilla/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- Bootstrap 4 -->
    <script src="~/Recursos/Plantilla/pluginsn/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Recursos/Plantilla/distn/js/adminlte.min.js"></script>

    <!--sweetalert2-->
    <script src="~/Recursos/Plantilla/dist/js/sweetalert2.all.min.js"></script>
    <script src="~/Recursos/Plantilla/plugins/sweetalert2/sweetalert2.min.js"></script>

    <!-- ChartJS -->
    <script src="~/Recursos/Plantilla/pluginsn/chart.js/Chart.min.js"></script>


 




    <script>

         function Salir() {

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quieres cerrar sesión?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, salir!',
            cancelButtonText:'Cancelar'
        }).then((result) => {
         if (result.isConfirmed) {

         var data = {

        }
        $.ajax({

            url: "@Url.Action("Logout", "Usuario")",
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (obj) {

                window.location.href = "@Url.Action("Login","Usuario")";
            }


        })


         }
        })

        }

    </script>



</body>

</html>



@{



    if (TempData["OK"] != null)
    {
        <script>

        $('#TempData[OK]').ready(function () {
            toastr.success('@TempData["OK"]', 'TODO SALIÓ BIEN');
            });


        </script>

    }


    if (TempData["ERROR"] != null)
    {
        <script>

            $('#TempData[ERROR]').ready(function() {
                toastr.error('@TempData["ERROR"]', 'ERROR!!'
              )
          });
        </script>

    }
}





<script>

    $(function () {

        consulta1();
        consulta2();

        consulta3();
        consulta4();
        consulta5();

        $('#con1').click(function () {

            editar1();
        });
        $('#con2').click(function () {

            editar2();
        });
        $('#con3').click(function () {

            editar3();
        });

    });





     function editar1() {



         var idc = document.getElementById('idconsulta').value;
         var idp = document.getElementById('idparametro').value;


            var data = {
                'idconsulta': idc,
                'idparametro': idp,

            };

              $.ajax({

                url: "@Url.Action("EditarConsulta", "Consulta")",
                type: 'GET',
                dataType: 'json',
                data: data,
                success: function (obj) {

                     if (obj !=3) {

                         consulta2();

                    }

                  },


            })
        };






     function editar2() {



         var idc1 = document.getElementById('idconsulta1').value;
         var idp1 = document.getElementById('idparametro1').value;


            var data = {
                'idconsulta': idc1,
                'idparametro': idp1,

            };

              $.ajax({

                url: "@Url.Action("EditarConsulta", "Consulta")",
                type: 'GET',
                dataType: 'json',
                data: data,
                success: function (obj) {


                    if (obj != 3) {

                        consulta3();

                    }

                  },


            })
        };



     function editar3() {



         var idc2 = document.getElementById('idconsulta2').value;
         var idp2 = document.getElementById('idparametro2').value;


            var data = {
                'idconsulta': idc2,
                'idparametro': idp2,

            };

              $.ajax({

                url: "@Url.Action("EditarConsulta", "Consulta")",
                type: 'GET',
                dataType: 'json',
                data: data,
                success: function (obj) {


                    if (obj != 3) {

                        consulta5();

                    }

                  },


            })
        };







      /* libros publicados por carrera*/
        function consulta1() {
            jQuery.ajax({

                url: '@Url.Action("ConsultarNumLibrosPublicadosxCarrera", "Consulta")',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset-utf-8',
                success: function (data) {

                    console.log(data)
                    var arrayCarreras = [];
                    var arrayNumLibros = [];

                    for (var i = 0; i < data.length; i++) {
                        arrayCarreras.push(data[i].Carrera)
                        arrayNumLibros.push(data[i].LibrosxCarrera)
                    }


                    var $libpublicados = $('#libpublicados-chart')


                    //const Tcarreras = ['Computación', 'Administración', 'Veterinaria', 'Agrícola', 'Ambiente']
                    //const Tnlibros = ['1', '2', '3', '4', '5']



                    var libpublicados = new Chart($libpublicados, {



                        type: 'bar',
                        data: {
                            labels: arrayCarreras,
                            datasets: [{

                                label: 'N° Libros',
                                data: arrayNumLibros,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.5)',
                                    'rgba(255, 159, 64, 0.5)',
                                    'rgba(255, 205, 86, 0.5)',
                                    'rgba(75, 192, 192, 0.5)',
                                    'rgba(149, 47, 50, 0.5)',
                                    'rgba(153, 102, 255, 0.5)',
                                    'rgba(104, 106, 108, 0.5)',
                                    'rgba(236, 55, 14, 0.5)',
                                    'rgba( 0, 123, 255, 0.5)',
                                    'rgba(35, 255, 0, 0.5)',
                                    'rgba(212, 22, 227, 0.5)',




                                ],
                                borderColor: [
                                    'rgba(255, 99, 132)',
                                    'rgba(255, 159, 64)',
                                    'rgba(255, 205, 86)',
                                    'rgba(75, 192, 192)',
                                    'rgba(149, 47, 50)',
                                    'rgba(153, 102, 255)',
                                    'rgba(104, 106, 108)',
                                    'rgba(236, 55, 14)',
                                    'rgba( 0, 123, 255)',
                                    'rgba(35, 255, 0)',
                                    'rgba(212, 22, 227)',

                                ],
                                borderWidth: 1



                            }]



                        }

                    })






                },
                error: function (error) {
                    console.log(error)
                }


            });
        };





        /* consulta por periodos*/

    function consulta2() {


         var idp = document.getElementById('idparametro').value;


            var data = {

                'idparametro': idp,

            };

              $.ajax({

                url: "@Url.Action("ConsultarNumLibrosPublicadosxPeriodo", "Consulta")",
                type: 'GET',
                dataType: 'json',
                data: data,
                success: function (obj) {


                    var arrayCarreras = [];
                    var arrayNumLibros = [];


                      console.log(obj)


                      for (var i = 0; i < obj.length; i++) {
                          arrayCarreras.push(obj[i].Carrera)
                          arrayNumLibros.push(obj[i].LibrosxCarrera)
                          document.getElementById('lt').innerHTML = obj[i].TotalLibros
                          document.getElementById('lpp').innerHTML = obj[i].TotalLibrosPublicadosxp
                          document.getElementById('ltp').innerHTML = obj[i].TotalLibrosPublicados
                          document.getElementById('detallep').innerHTML = obj[i].detalleperiodo
                      }



                    var ctx = document.getElementById('libperiodos-chart').getContext('2d');
                    if (window.grafica) {
                        window.grafica.clear();
                        window.grafica.destroy();
                    }
                    window.grafica = new Chart(ctx, {



                          type: 'bar',
                          data: {
                              labels: arrayCarreras,
                              datasets: [{

                                  label: 'N° Libros ',
                                  data: arrayNumLibros,
                                  backgroundColor: [
                                      'rgba(255, 99, 132, 0.5)',
                                      'rgba(255, 159, 64, 0.5)',
                                      'rgba(255, 205, 86, 0.5)',
                                      'rgba(75, 192, 192, 0.5)',
                                      'rgba(149, 47, 50, 0.5)',
                                      'rgba(153, 102, 255, 0.5)',
                                      'rgba(104, 106, 108, 0.5)',
                                      'rgba(236, 55, 14, 0.5)',
                                      'rgba( 0, 123, 255, 0.5)',
                                      'rgba(35, 255, 0, 0.5)',
                                      'rgba(212, 22, 227, 0.5)',




                                  ],
                                  borderColor: [
                                      'rgba(255, 99, 132)',
                                      'rgba(255, 159, 64)',
                                      'rgba(255, 205, 86)',
                                      'rgba(75, 192, 192)',
                                      'rgba(149, 47, 50)',
                                      'rgba(153, 102, 255)',
                                      'rgba(104, 106, 108)',
                                      'rgba(236, 55, 14)',
                                      'rgba( 0, 123, 255)',
                                      'rgba(35, 255, 0)',
                                      'rgba(212, 22, 227)',

                                  ],
                                  borderWidth: 1



                              }]



                          }

                      })




                  },


            })
        };











        /* consulta por años*/

    function consulta3() {




         var idp1 = document.getElementById('idparametro1').value;


            var data = {

                'idparametro': idp1,

            };

              $.ajax({

                url: "@Url.Action("ConsultarNumLibrosPublicadosxYear", "Consulta")",
                type: 'GET',
                dataType: 'json',
                data: data,
                success: function (obj) {


                    var arrayCarreras = [];
                    var arrayNumLibros = [];


                      console.log(obj)


                    for (var i = 0; i < obj.length; i++) {
                        arrayCarreras.push(obj[i].Carrera)
                        arrayNumLibros.push(obj[i].LibrosxCarrera)
                        document.getElementById('lt1').innerHTML = obj[i].TotalLibros
                        document.getElementById('lpy').innerHTML = obj[i].TotalLibrosPublicadosxa
                        document.getElementById('lty').innerHTML = obj[i].TotalLibrosPublicados
                        document.getElementById('detalley').innerHTML = obj[i].detalleyear

                    }




                    var ctx1 = document.getElementById('libyear-chart').getContext('2d');
                    if (window.grafica1) {
                        window.grafica1.clear();
                        window.grafica1.destroy();
                    }
                    window.grafica1 = new Chart(ctx1, {



                          type: 'bar',
                          data: {
                              labels: arrayCarreras,
                              datasets: [{

                                  label: 'N° Libros ',
                                  data: arrayNumLibros,
                                  backgroundColor: [
                                      'rgba(255, 99, 132, 0.5)',
                                      'rgba(255, 159, 64, 0.5)',
                                      'rgba(255, 205, 86, 0.5)',
                                      'rgba(75, 192, 192, 0.5)',
                                      'rgba(149, 47, 50, 0.5)',
                                      'rgba(153, 102, 255, 0.5)',
                                      'rgba(104, 106, 108, 0.5)',
                                      'rgba(236, 55, 14, 0.5)',
                                      'rgba( 0, 123, 255, 0.5)',
                                      'rgba(35, 255, 0, 0.5)',
                                      'rgba(212, 22, 227, 0.5)',




                                  ],
                                  borderColor: [
                                      'rgba(255, 99, 132)',
                                      'rgba(255, 159, 64)',
                                      'rgba(255, 205, 86)',
                                      'rgba(75, 192, 192)',
                                      'rgba(149, 47, 50)',
                                      'rgba(153, 102, 255)',
                                      'rgba(104, 106, 108)',
                                      'rgba(236, 55, 14)',
                                      'rgba( 0, 123, 255)',
                                      'rgba(35, 255, 0)',
                                      'rgba(212, 22, 227)',

                                  ],
                                  borderWidth: 1



                              }]



                          }

                      })




                  },


            })
        };










        /*número de vistas de libros página web*/
    function consulta4() {
        $.ajax({

            url: "@Url.Action("ConsultarNumVistasLibrosxCarrera", "Consulta")",
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset-utf-8',

            success: function (obj) {


                console.log(obj)
                var arrayCarreras = [];
                var arrayNumVistas = [];

                for (var i = 0; i < obj.length; i++) {
                    arrayCarreras.push(obj[i].Carrera)
                    arrayNumVistas.push(obj[i].Totalvistasxcarrera)
                }


                var $libvistaschart = $('#libvistas-chart')


                //const Tcarreras = ['Computación', 'Administración', 'Veterinaria', 'Agrícola', 'Ambiente']
                //const Tnlibros = ['1', '2', '3', '4', '5']



                var libvistaschart = new Chart($libvistaschart, {



                    type: 'line',
                    data: {
                        labels: arrayCarreras,
                        datasets: [{


                            label: 'N° Vistas',
                            data: arrayNumVistas,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1,

                            borderWidth: 3



                        }]



                    }

                })






            },
            error: function (error) {
                console.log(error)
            }





        });

    };








        /*número de vistas de libros página web consulta por año*/
    function consulta5() {

        var idp2 = document.getElementById('idparametro2').value;


        var data = {

            'idparametro': idp2,

        };



        $.ajax({

            url: "@Url.Action("ConsultarNumVistasLibrosxYear", "Consulta")",
            type: 'GET',
            dataType: 'json',
            data: data,
            contentType: 'application/json; charset-utf-8',

            success: function (obj) {


                console.log(obj)
                var arrayCarreras = [];
                var arrayNumVistas = [];

                for (var i = 0; i < obj.length; i++) {
                    arrayCarreras.push(obj[i].Carrera)
                    arrayNumVistas.push(obj[i].Totalvistasxcarrera)
                    document.getElementById('lt2').innerHTML = obj[i].TotalLibrosPublicados
                    document.getElementById('lvy').innerHTML = obj[i].Totalvistaslibrosxa
                    document.getElementById('ltv').innerHTML = obj[i].Totalvistaslibros
                    document.getElementById('detalley2').innerHTML = obj[i].detalleyear
                }



                var ctx2 = document.getElementById('libvistas2-chart').getContext('2d');
                if (window.grafica2) {
                    window.grafica2.clear();
                    window.grafica2.destroy();
                }
                window.grafica2 = new Chart(ctx2, {




                    type: 'line',
                    data: {
                        labels: arrayCarreras,
                        datasets: [{


                            label: 'N° Vistas',
                            data: arrayNumVistas,
                            fill: false,
                            borderColor: 'rgb( 251, 128, 58  )',
                            tension: 0.1,

                            borderWidth: 3



                        }]



                    }

                })






            },
            error: function (error) {
                console.log(error)
            }





        });

    };








</script>

