@model IEnumerable<Negocio.Entidades.E_Notificaciones>

@{
    Layout = null;
}




<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema Web | Humus Editorial</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Recursos/Plantilla/assets/images/logo1.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/distn/css/adminlte.min.css">

    <!-- Custom CSS -->
    <link href="~/Recursos/Plantilla/dist/css/style.min.css" rel="stylesheet">


    <!-- Toastr -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.css">


    <!--Sweetalert2-->
    <link rel="stylesheet" href="~/Recursos/Plantilla/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Recursos/Plantilla/dist/css/sweetalert2.min.css">


    <!--sumernote-->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/summernote/summernote-bs4.min.css">




</head>


@{
    var foto = "imgvacia.png";
    string Nombres = "";
    int Id = 0;

    foreach (var item9 in ViewBag.Usuario)
    {
        Nombres = item9.PrimerNombre + " " + item9.ApellidoPrimero;
        Id = item9.IDusuario;
        if (item9.Foto != null)
        {

            //foto = Session["Foto"].ToString();
            foto = item9.Foto;
        }

    }


}







<!-- Modal registrar mensaje -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos de mensaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--formulario-->
                <div class="card">
                    <form>
                        <div class="card-body">
                            <input type="hidden" class="form-control" id="Id" name="Id" value="@Id">

                            <div class="form-group row" style="margin-top:5%">
                                <label for="fname"
                                       class="col-lg-2 text-start control-label col-form-label text-info">Asunto:</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto...">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lname" class="col-lg-2 text-start control-label col-form-label text-info">

                                    Mensaje:
                                </label>
                                <div class="col-lg-10">
                                    <textarea type="text" class="form-control" id="mensaje" name="mensaje" rows="10" cols="50" placeholder="Descripción..." required=""></textarea>

                                </div>
                            </div>



                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-info" onclick="EnviarMensaje()">Guardar</button>
                        </div>
                    </form>
                </div>
                <!--end formulario-->
            </div>

        </div>
    </div>
</div>









<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->




        <header class="topbar" data-navbarbg="skin5">

            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">

                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="@Url.Action("IndexAutor", "Usuario")">
                        <!-- Logo icon -->
                        <b class="logo-icon ps-3">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            @*<img src="~/Recursos/Plantilla/assets/images/iconw.png" alt="homepage" class="light-logo" />*@
                            <i class="mdi mdi-f5da mdi-book-open-page-variant text-secondary"></i>

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            @*<img src="~/Recursos/Plantilla/assets/images/title2.png" alt="homepage" class="light-logo" />*@

                            <span class="hide-menu text-secondary" style="padding-left: 5%; padding-right: 10%"> Sistema Web Humus</span>



                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <!-- <img src="~/Recursos/Plantilla/assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                               data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->

                    <ul class="navbar-nav float-end">

                        <!--inicio-->
                        <li class="nav-item dropdown">

                            @if (@ViewBag.NuevasNotificaciones == 1)
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" id="idlista" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="@ViewBag.NuevasNotificaciones Notificación nueva">
                                    <i class="mdi mdi-bell font-24"></i>

                                    <span class="badge badge-info navbar-badge">@ViewBag.NuevasNotificaciones</span>


                                </a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" id="idlista" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="@ViewBag.NuevasNotificaciones Notificaciones nuevas">
                                    <i class="mdi mdi-bell font-24"></i>
                                    @if (@ViewBag.NuevasNotificaciones != 0)
                                    {
                                        <span class="badge badge-info navbar-badge">@ViewBag.NuevasNotificaciones</span>
                                    }
                                </a>
                            }



                            <!--cambiar de aqui en adelante data-bs-auto-close="outside"   -->
                            <ul class="dropdown-menu dropdown-menu-end mailbox animated bounceInDown" aria-labelledby="idlista">

                                <li>
                                    <div class="">
                                        @if (@ViewBag.TotalNotificaciones == 1)
                                        {
                                            <span class="dropdown-item-title dropdown-header text-orange"><b>@ViewBag.TotalNotificaciones Notificación recibida</b></span>
                                        }
                                        else
                                        {
                                            <span class="dropdown-item-title dropdown-header  text-orange font-14 "><b>@ViewBag.TotalNotificaciones Notificaciones recibidas</b></span>
                                        }
                                        @foreach (var itemn in ViewBag.Notificaciones)
                                        {
                                            <a href="@Url.Action("NotificacionesAutor", "Usuario")" class="dropdown-item text-secondary font-14" id="Id+@itemn.IDnotificacion">

                                                <i class="fas fa-@itemn.Icono mr-2"></i> @itemn.DetalleNotificacion
                                                @*<span class="float-right text-muted text-sm" id="p" onclick="EliminarNoti(@itemn.IDtipoNotificacion)"> <i class="mdi mdi- f156 mdi-close"></i></span>*@


                                            </a>
                                        }



                                        <a href="@Url.Action("NotificacionesAutor", "Usuario")" class="link align-right" style="margin-top:3%">
                                            <span class="dropdown-item dropdown-header align-right text-black text-12"><b>Ver todas las notificaciones </b></span>
                                        </a>
                                    </div>
                                </li>


                            </ul>
                            <!--fin de cambio aqui-->

                        </li>





                        <!--fin-->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->


                        <li class="nav-item dropdown">
                            @*@{*@


                            @*//if (item9.Foto != null)
                                //{

                                //    //foto = Session["Foto"].ToString();
                                //    foto = item9.Foto;
                                //}*@




                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Recursos/Plantilla/assets/images/users/@foto" alt="user" class="rounded-circle" width="31">
                            </a>
                            @*}*@

                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" onclick="Salir()">
                                    <i class="fa fa-power-off me-1 ms-1"></i> Cerrar sesión
                                </a>

                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>

                </div>
            </nav>
        </header>






        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->



        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <!--<ul id="sidebarnav" class="pt-0">-->
                        <li class="hide-menu">
                            <div style="margin-left:25%;margin-right:25%">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   aria-expanded="false"><img src="~/Recursos/Plantilla/assets/images/users/@foto" alt="user" class="rounded-circle" width="100"></a>

                            </div>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" style="padding-left: 25%; padding-right: 25%"
                               href="#" aria-expanded="false">
                                <span class="hide-menu">@Nombres</span>

                            </a>
                            <hr />
                        </li>

                        @*<li class="sidebar-item" style="margin-top:2%;">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href="indexAdmin.html" aria-expanded="false">
                                    <i class="mdi mdi-f1ee mdi-email"></i><span class="hide-menu">Mensajes</span>
                                </a>
                            </li>*@ @*class="mdi mdi-f104 mdi-camera-iris"*@
                            <li class="sidebar-item" style="margin-top:2%;">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href="@Url.Action("Libros", "Libro")" aria-expanded="false">
                                    <i class="mdi mdi-f332 mdi-library-books"></i><span class="hide-menu">Libros en proceso</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="@Url.Action("ListaLibrosArchivados", "Libro")" class="sidebar-link">
                                    <i class="mdi mdi-f0bb mdi-book-multiple"></i><span class="hide-menu">
                                        Libros archivados
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item" style="margin-top:2%;">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href="#" aria-expanded="false" data-bs-toggle="modal" data-bs-target="#exampleModal" data-toggle="tab">
                                    <i class="mdi mdi-f184 mdi-comment-processing"></i><span class="hide-menu">Mensaje a Editorial</span>
                                </a>
                            </li>
                            <li class="sidebar-item" style="margin-top:2%;">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   aria-expanded="false" onclick="Solicitarlibro(@Id)">
                                    <i class="mdi mdi-f0c5 mdi-bookmark-plus"></i><span class="hide-menu">Agregar nuevo libro</span>
                                </a>
                            </li>
                            <li class="sidebar-item" style="margin-top:2%;">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href="@Url.Action("NotificacionesAutor", "Usuario")" aria-expanded="false">
                                    <i class="mdi mdi-f09a mdi-bell"></i><span class="hide-menu">Notificaciones</span>
                                </a>
                            </li>



                            <li class="sidebar-item" style="margin-top:2%;">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   href="@Url.Action("EditperfilAutor", "Usuario")" aria-expanded="false">
                                    <i class="mdi mdi-f631 mdi-account-settings-variant"></i><span class="hide-menu">Perfil</span>
                                </a>
                            </li>
                            <li class="sidebar-item" style="margin-top:2%;">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   onclick="Salir()" aria-expanded="false">
                                    <i class="mdi mdi-f012 mdi-account-off"></i><span class="hide-menu">Salir</span>
                                </a>
                            </li>


                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                </div>
                <!-- End Sidebar scroll-->
            </aside>





            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Notificaciones</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    @*<li class="breadcrumb-item"><a href="#"></a></li>
                                <li class="breadcrumb-item active" aria-current="page"></li>*@
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->




            <div class="container-fluid">


                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="card card-light card-outline">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">

                                    <li class="nav-item "><a class="nav-link " href="#settings" data-toggle="tab"><i class="mdi mdi-f09a mdi-bell"></i>Notificaciones recibidas</a></li>
                                    @if (ViewBag.TotalNotificaciones != 0)
                                    {
                                        <li class="nav-item "><a class="nav-link " href="#" onclick="EliminarTodo(@Id)"><i class="mdi mdi-f5e9 mdi-delete-sweep"></i> Eliminar todas las notificaciones</a></li>

                                    }
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">

                                    <!-- .tab-pane -->
                                    <div class="active tab-pane" id="settings">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- The time line -->
                                                <div class="timeline">
                                                    <!-- timeline time label -->
                                                    <div class="time-label">
                                                        @if (@ViewBag.TotalNotificaciones == 1)
                                                        {
                                                            <span class="bg-success">@ViewBag.TotalNotificaciones  notificación</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="bg-success">@ViewBag.TotalNotificaciones  notificaciones</span>
                                                        }
                                                    </div>
                                                    <!-- /.timeline-label -->
                                                    <!-- timeline item -->
                                                    @foreach (var item in Model)
                                                    {

                                                        <div>
                                                            <i class="fas fa-@item.Icono bg-secondary" title="@item.DetalleTipoNotificacion"></i>

                                                            <div class="timeline-item">

                                                                <span class="time">
                                                                    <a href="#" class="text-muted text-sm float-right" title="Eliminar" onclick="EliminarNotificacion(@item.IDnotificacion)">
                                                                        <i class="fas fa-times mr-1"></i>
                                                                    </a>
                                                                </span>
                                                                <span class="time"><i class="fas fa-fas fa-calendar-alt"></i> @item.Fechanotifi</span>

                                                                @*<small class="badge rounded-pill bg-info">@item.DetalleTipoNotificacion</small>*@
                                                                <small class="text-secondary">@item.DetalleTipoNotificacion</small>

                                                                <div class="timeline-body" title="Ver más...">
                                                                    <a href="../@item.UrlNotificacion" class="text-blue">@item.DetalleNotificacion</a>
                                                                    <br />
                                                                    <p class="text-black text-justify"> @item.Notificacion</p>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    }
                                                    <!-- END timeline item -->


                                                    <div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                    </div>

                                    <!-- /.timeline -->










                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            @*!-- /.container-fluid -->*@


            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <br />
            <footer class="footer text-center" >
                @{
                    string date = DateTime.Now.ToString("MM-dd-yyyy");
                    string year = date.Substring(6, 4);

                }
                <img src="https://localhost:44329/ImagesWeb/logo.png" alt="user" width="100"> Coordinación General de Investigación - Editorial Humus. © @year.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->


        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->




        <script src="~/Recursos/Plantilla/assets/libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="~/Recursos/Plantilla/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Recursos/Plantilla/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>

        <!-- Toastr -->
        <script src="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.js"></script>

        <!--Wave Effects -->
        <script src="~/Recursos/Plantilla/dist/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="~/Recursos/Plantilla/dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="~/Recursos/Plantilla/dist/js/custom.min.js"></script>
        <!--This page JavaScript -->
        <!-- Bootstrap 4 -->
        <script src="~/Recursos/Plantilla/pluginsn/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/Recursos/Plantilla/distn/js/adminlte.min.js"></script>



        <!--sweetalert2-->
        <script src="~/Recursos/Plantilla/dist/js/sweetalert2.all.min.js"></script>
        <script src="~/Recursos/Plantilla/plugins/sweetalert2/sweetalert2.min.js"></script>



        <!-- Summernote -->
        <script src="~/Recursos/Plantilla/pluginsn/summernote/summernote-bs4.min.js"></script>


        <script>

            $(function () {
                //Add text editor
                $('#mensaje').summernote('code', 'Mensaje...')
            })







         function Salir() {

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quieres cerrar sesión?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, salir!',
            cancelButtonText:'Cancelar'
        }).then((result) => {
         if (result.isConfirmed) {

         var data = {

        }
        $.ajax({

            url: "@Url.Action("Logout", "Usuario")",
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (obj) {

                window.location.href = "@Url.Action("Login","Usuario")";
            }


        })


         }
        })

        }

        </script>



    </body>

</html>





<script>




    function Solicitarlibro(Id) {

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quiere enviar solicitud para publicar nuevo libro?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, enviar!',
            cancelButtonText:'Cancelar'
        }).then((result) => {
         if (result.isConfirmed) {

             var data = {
                 'idemisor': Id,

        }
        $.ajax({

            url: "@Url.Action("SolcitarPublicarNuevoLibro", "Libro")",
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (obj) {

                window.location.href = "@Url.Action("IndexAutor","Usuario")";
            }


        })


         }
        })

        }





    function EnviarMensaje() {



          var Mensaje = document.getElementById('mensaje').value;
          var Asunto = document.getElementById('asunto').value;
        var iduser = document.getElementById('Id').value;



            var data = {
                'idemisor': iduser,
                'asunto': Asunto,
                'mensaje': Mensaje


            }
            $.ajax({

                url: "@Url.Action("EnviarMensajeEditorial", "Proceso")",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (obj) {


                 window.location.href = "@Url.Action("NotificacionesAutor")";



                }

            })



        }



    function EliminarNotificacion(IDnotificacion){



              var data = {
                  'Idnotifi': IDnotificacion,


            }
            $.ajax({

                url: "@Url.Action("EliminarNotificacion", "Usuario")",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (obj) {


                    window.location.href = "@Url.Action("NotificacionesAutor")";

                }

            })








        }







    function EliminarTodo(Id) {

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quieres eliminar todas las notificaciones?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, Eliminar!',
            cancelButtonText:'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {

                 var data = {

            'Iduser': Id
        }
        $.ajax({

            url: "@Url.Action("EliminarTodoNotificaciones", "Usuario")",
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (obj) {

                window.location.href = "@Url.Action("NotificacionesAutor")";
            }


        })


            }
        })



        }






    @*href="@Url.Action("EliminarTodoNotificaciones", new RouteValueDictionary(new { controller = "Usuario", action = "EliminarTodoNotificaciones", Iduser = Id}))"*@

</script>







@{

    if (TempData["OKS"] != null)
    {
        <script>

            $('#TempData[OKS]').ready(function () {
                Swal.fire(
                    'Enviado!',
                    'Se ha sido enviado la solicitud correctamente.',
                    'success'
                )
            });


        </script>

    }



    if (TempData["OKN"] != null)
    {
        <script>

            $('#TempData[OKN]').ready(function () {
                Swal.fire(
                    'Eliminado!',
                    'Todas las notificaciones han sido eliminadas.',
                    'success'
                )
            });


        </script>

    }


    if (TempData["OKM"] != null)
    {
        <script>

            $('#TempData[OKM]').ready(function () {
                Swal.fire(
                    'Enviado!',
                    'Mensaje ha sido enviado correctamente.',
                    'success'
                )
            });


        </script>

    }


    if (TempData["OK"] != null)
    {
        <script>

        $('#TempData[OK]').ready(function () {
            toastr.success('@TempData["OK"]', 'TODO SALIÓ BIEN');
            });


        </script>

    }


    if (TempData["ERROR"] != null)
    {
        <script>

            $('#TempData[ERROR]').ready(function() {
                toastr.error('@TempData["ERROR"]', 'ERROR!!'
              )
          });
        </script>

    }
}
