
@{
    Layout = null;
}





<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema Web | Humus Editorial</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Recursos/Plantilla/assets/images/logo1.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/distn/css/adminlte.min.css">

    <!-- Toastr -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.css">


    <!-- Custom CSS -->
    <link href="~/Recursos/Plantilla/dist/css/style.min.css" rel="stylesheet">


    <!--sumernote-->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/summernote/summernote-bs4.min.css">



    <!--Sweetalert2-->
    <link rel="stylesheet" href="~/Recursos/Plantilla/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Recursos/Plantilla/dist/css/sweetalert2.min.css">






</head>

@{
    var foto = "imgvacia.png";
    string Nombres = "";
    int Id = 0;

    foreach (var item9 in ViewBag.Usuario)
    {
        Id = item9.IDusuario;
        Nombres = item9.PrimerNombre + " " + item9.ApellidoPrimero;
        if (item9.Foto != null)
        {

            //foto = Session["Foto"].ToString();
            foto = item9.Foto;

        }

    }


}




<!-- Modales -->


<!-- Modal editar respuesta de observación una respuesta -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Editar datos de respuesta para observación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--formulario-->


                <form>


                    <div class="card-body ">
                        <div class="form-group row">

                            <div class="col-sm-9">


                                <input type="hidden" class="form-control" id="Idpreg" name="Idpreg">
                                <input type="hidden" class="form-control" id="idresp" name="idresp">
                                <input type="hidden" class="form-control" id="Idobservacion" name="Idobservacion">
                                <input type="hidden" class="form-control" id="respuestas" name="respuestas">
                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="fname"
                                   class="col-sm-2 text-start control-label col-form-label text-info">Título de respuesta:</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="tituloresp" name="tituloresp" placeholder="Título de respuesta..." rows="3" cols="10"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="fname"
                                   class="col-sm-2 text-start control-label col-form-label text-info">Descripción de respuesta:</label>
                            <div class="col-sm-10">

                                <textarea id="descripresp" name="descripresp" class="form-control" style="height: 300px">
                                <p>Descripción de respuesta...</p>
                    </textarea>

                                @*<textarea type="text" class="form-control" id="descripresp" name="descripresp" placeholder="Descripción de respuesta..." rows="20" cols="20" required=""></textarea>*@
                            </div>
                        </div>



                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-info" title="Guardar" onclick="EditarRespuestaPregAbiertaTipo4()">Guardar</button>
                    </div>

                </form>




                <!--end formulario-->
            </div>

        </div>
    </div>
</div>








<!-- Modal registrar respuesta de observación una respuesta -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Datos de respuesta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--formulario-->


                <form>

                    <div class="card-body ">
                        <div class="form-group row">

                            <div class="col-sm-9">




                                <input type="hidden" class="form-control" id="Idobservacion2" name="Idobservacion2">
                                <input type="hidden" class="form-control" id="Idpreg2" name="Idpreg2">
                                <input type="hidden" class="form-control" id="respuestas2" name="respuestas2">

                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="fname"
                                   class="col-sm-2 text-start control-label col-form-label text-info">Título de respuesta:</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="detalle" name="detalle" placeholder="Título de respuesta..." rows="3" cols="10"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="fname"
                                   class="col-sm-2 text-start control-label col-form-label text-info">Descripción de respuesta:</label>
                            <div class="col-sm-10">
                               
                                <textarea id="descripcion2" name="descripcion2" class="form-control" style="height: 300px">
                                <p>Descripción de respuesta...</p>
                    </textarea>

                            </div>
                        </div>



                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-info" title="Guardar" onclick="GuardarRespuestaObservacion()">Guardar</button>
                    </div>

                </form>




                <!--end formulario-->
            </div>

        </div>
    </div>
</div>













<!-- Modal registrar respuesta de observación varias respuestas -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Datos de respuesta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--formulario-->


                <form>

                    <div class="card-body ">
                        <div class="form-group row">

                            <div class="col-sm-9">


                                <input type="hidden" class="form-control" id="Idpreg1" name="Idpreg1">
                                <input type="hidden" class="form-control" id="Idobservacion1" name="Idobservacion1">
                                <input type="hidden" class="form-control" id="respuestas1" name="respuestas1">
                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="fname"
                                   class="col-sm-2 text-start control-label col-form-label text-info">Título de respuesta:</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="titulo" name="titulo" placeholder="Título respuesta..." rows="3" cols="10"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="fname"
                                   class="col-sm-2 text-start control-label col-form-label text-info">Descripción de respuesta:</label>
                            <div class="col-sm-10">
                                @*<textarea type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción de respuesta..." rows="20" cols="20" required=""></textarea>*@
                           
                                <textarea id="descripcion" name="descripcion" class="form-control" style="height: 300px">
                                <p>Descripción de respuesta...</p>
                    </textarea>
                            
                            </div>
                        </div>



                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-info" title="Guardar" onclick="GuardarRespuestasCapitulos()">Guardar</button>
                    </div>

                </form>




                <!--end formulario-->
            </div>

        </div>
    </div>
</div>


















<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->




        <header class="topbar" data-navbarbg="skin5">

            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">

                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="@Url.Action("IndexEvaluador", "Usuario")">
                        <!-- Logo icon -->
                        <b class="logo-icon ps-3">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            @*<img src="~/Recursos/Plantilla/assets/images/iconw.png" alt="homepage" class="light-logo" />*@
                            <i class="mdi mdi-f5da mdi-book-open-page-variant text-secondary"></i>

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            @*<img src="~/Recursos/Plantilla/assets/images/title2.png" alt="homepage" class="light-logo" />*@

                            <span class="hide-menu text-secondary" style="padding-left: 5%; padding-right: 10%"> Sistema Web Humus</span>



                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <!-- <img src="~/Recursos/Plantilla/assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                               data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->

                    <ul class="navbar-nav float-end">

                        <!--inicio-->
                        <li class="nav-item dropdown">

                            @if (@ViewBag.NuevasNotificaciones == 1)
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" id="idlista" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="@ViewBag.NuevasNotificaciones Notificación nueva">
                                    <i class="mdi mdi-bell font-24"></i>

                                    <span class="badge badge-info navbar-badge">@ViewBag.NuevasNotificaciones</span>


                                </a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" id="idlista" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="@ViewBag.NuevasNotificaciones Notificaciones nuevas">
                                    <i class="mdi mdi-bell font-24"></i>
                                    @if (@ViewBag.NuevasNotificaciones != 0)
                                    {
                                        <span class="badge badge-info navbar-badge">@ViewBag.NuevasNotificaciones</span>
                                    }
                                </a>
                            }



                            <!--cambiar de aqui en adelante data-bs-auto-close="outside"   -->
                            <ul class="dropdown-menu dropdown-menu-end mailbox animated bounceInDown" aria-labelledby="idlista">

                                <li>
                                    <div class="">
                                        @if (@ViewBag.TotalNotificaciones == 1)
                                        {
                                            <span class="dropdown-item-title dropdown-header text-orange"><b>@ViewBag.TotalNotificaciones Notificación recibida</b></span>
                                        }
                                        else
                                        {
                                            <span class="dropdown-item-title dropdown-header  text-orange font-14 "><b>@ViewBag.TotalNotificaciones Notificaciones recibidas</b></span>
                                        }
                                        @foreach (var itemn in ViewBag.Notificaciones)
                                        {
                                            <a href="@Url.Action("NotificacionesEvaluador", "Usuario")" class="dropdown-item text-secondary font-14" id="Id+@itemn.IDnotificacion">

                                                <i class="fas fa-@itemn.Icono mr-2"></i> @itemn.DetalleNotificacion
                                                @*<span class="float-right text-muted text-sm" id="p" onclick="EliminarNoti(@itemn.IDtipoNotificacion)"> <i class="mdi mdi- f156 mdi-close"></i></span>*@


                                            </a>
                                        }



                                        <a href="@Url.Action("NotificacionesEvaluador", "Usuario")" class="link align-right" style="margin-top:3%">
                                            <span class="dropdown-item dropdown-header align-right text-black text-12"><b>Ver todas las notificaciones </b></span>
                                        </a>
                                    </div>
                                </li>


                            </ul>
                            <!--fin de cambio aqui-->

                        </li>





                        <!--fin-->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->


                        <li class="nav-item dropdown">
                            @*@{*@


                            @*//if (item9.Foto != null)
                                //{

                                //    //foto = Session["Foto"].ToString();
                                //    foto = item9.Foto;
                                //}*@




                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Recursos/Plantilla/assets/images/users/@foto" alt="user" class="rounded-circle" width="31">
                            </a>
                            @*}*@

                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" onclick="Salir()">
                                    <i class="fa fa-power-off me-1 ms-1"></i> Cerrar sesión
                                </a>

                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>

                </div>
            </nav>
        </header>





        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->



        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <!--<ul id="sidebarnav" class="pt-0">-->
                        <li class="hide-menu">
                            <div style="margin-left:25%;margin-right:25%">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                   aria-expanded="false"><img src="~/Recursos/Plantilla/assets/images/users/@foto" alt="user" class="rounded-circle" width="100"></a>

                            </div>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" style="padding-left: 25%; padding-right: 25%"
                               href="#" aria-expanded="false">
                                <span class="hide-menu">@Nombres</span>

                            </a>
                            <hr />
                        </li>



                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("LibrosEvaluar", "Libro")" aria-expanded="false">
                                <i class="mdi mdi-f14e mdi-clipboard-text"></i><span class="hide-menu">Evaluar libros</span>
                            </a>

                        </li>
                        <li class="sidebar-item" style="margin-top:2%;">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("NotificacionesEvaluador", "Usuario")" aria-expanded="false">
                                <i class="mdi mdi-f09a mdi-bell"></i><span class="hide-menu">Notificaciones</span>
                            </a>
                        </li>

                        <li class="sidebar-item" style="margin-top:2%;">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="@Url.Action("EditperfilEvaluador", "Usuario")" aria-expanded="false">
                                <i class="mdi mdi-f631 mdi-account-settings-variant"></i><span class="hide-menu">Perfil</span>
                            </a>
                        </li>

                        <li class="sidebar-item" style="margin-top:2%;">

                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               onclick="Salir()" aria-expanded="false">
                                <i class="mdi mdi-f012 mdi-account-off"></i><span class="hide-menu">Salir</span>
                            </a>
                        </li>


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>




        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Observaciones para libro</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    @*<li class="breadcrumb-item"><a href="#"></a></li>
                                <li class="breadcrumb-item active" aria-current="page"></li>*@
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @if (ViewBag.Estado == "Evaluación finalizada")
                {


                    <p class="text-secondary">Esta evaluación ya ha finalizado.</p>
                }
                else
                {
                    foreach (var itemc in ViewBag.Cuestionario)
                    {

                        <section class="content">


                            <div class="col-md-12">


                                <div class="card ">





                                    <div class="card-body">
                                        <div class="tab-content">


                                            <div class="col-12 ">
                                                @foreach (var itemp in ViewBag.Preguntas)
                                                {

                                                    if (itemp.IdentificadorTipoPregunta == 4)
                                                    {
                                                        <p>@itemp.LeyendaSuperior</p>
                                                        <div class="form-group row">
                                                            <label for="inputName" class="col-sm-12 col-form-label font-14 text-black">
                                                                <b>@itemp.Orden. @itemp.Descripcion</b>
                                                            </label>
                                                        </div>


                                                    }



                                                }








                                                <!--observaciones-->
                                                <div class=" tab-pane" id="observaciones">
                                                    <div class="active tab-pane" id="evaluar">
                                                        <div class="card-body">










                                                            <div class="card">
                                                                @*<div class="card-body">
                                                                <h4 class="card-title mb-0">Observaciones requeridas</h4>
                                                            </div>*@

                                                                <ul class="list-style-none">
                                                                    @foreach (var itempo in ViewBag.PreguntaObservaciones)
                                                                    {

                                                                        <li class="card-body border-top">
                                                                            @if (@itempo.Respuestas == 1)
                                                                            {

                                                                                <a href="#" class="mb-0 p-0" title="Registrar respuesta de observación" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-toggle="tab" onclick="Datos1(@itempo.IDpreguntaObservaciones,@itempo.Idpregunta,@itempo.Respuestas,'@itempo.Leyendainferior')">
                                                                                    <div class="d-flex no-block">
                                                                                        <i class="fas fa-fas fa-pencil-alt w-30px mt-1"></i>
                                                                                        <div class="col-sm-12">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-4"><span class="font-bold">@itempo.Detallepregobservacion</span></div>
                                                                                                <div class="col-sm-4"><p class="text-justify">@itempo.Leyendainferior</p></div>
                                                                                                <div class="col-sm-4">



                                                                                                    <span class="badge rounded-pill bg-info float-end">
                                                                                                        Se requieren varias respuestas.
                                                                                                    </span>



                                                                                                </div>


                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </a>


                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#" class="mb-0 p-0" title="Registrar respuesta de observación" data-bs-toggle="modal" data-bs-target="#exampleModal" data-toggle="tab" onclick="Datos(@itempo.IDpreguntaObservaciones,'@itempo.Detallepregobservacion',@itempo.Idpregunta,@itempo.Respuestas,'@itempo.Leyendainferior')">
                                                                                    <div class="d-flex no-block">
                                                                                        <i class="fas fa-fas fa-pencil-alt w-30px mt-1"></i>
                                                                                        <div class="col-sm-12">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-4"><span class="font-bold">@itempo.Detallepregobservacion</span></div>
                                                                                                <div class="col-sm-4"><p class="text-justify">@itempo.Leyendainferior</p></div>
                                                                                                <div class="col-sm-4">


                                                                                                    <span class="badge rounded-pill bg-info float-end">
                                                                                                        Se requiere solo una respuesta.
                                                                                                    </span>


                                                                                                </div>


                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            }


                                                                        </li>
                                                                    }

                                                                </ul>
                                                            </div>







                                                            <!--respuestas-->

                                                            <div class="col-md-12" style="margin-top:8%">

                                                                <div class="card-body">

                                                                    <h4 class="card-title mb-0">Respuestas de observaciones registradas</h4>
                                                                </div>

                                                                @if (ViewBag.PreguntasTipo4.Count == 0)
                                                                {


                                                                    <p class="text-justify text-info" style="margin-left:2.5%">Por el momento no hay respuestas registradas.</p>
                                                                }
                                                                else
                                                                {
                                                                    <ul class="todo-list" data-widget="todo-list">
                                                                        @foreach (var itempa in ViewBag.PreguntasTipo4)
                                                                        {
                                                                            <li>
                                                                                <!-- drag handle -->
                                                                                <span class="handle">
                                                                                    <i class=" far fa-file-alt mr-1"></i>
                                                                                    @*<i class="fas fa-ellipsis-v"></i>*@
                                                                                </span>
                                                                                <!-- checkbox -->
                                                                                <!-- todo text -->
                                                                                <span class="text">@itempa.titulorespabierta</span>
                                                                                <!-- Emphasis label -->
                                                                                @*<small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>*@
                                                                                <!-- General tools such as edit or delete-->
                                                                                <div class="tools">
                                                                                    <i class="fas fa-edit text-success" title="Editar observación" onclick="DatosEditar(@itempa.Idpregunta, @itempa.IDrespuesta,'@itempa.titulorespabierta','@itempa.DescripcionRespuestaAbierta',@itempa.Idobservacionpreg,@itempa.Respuestas)" data-bs-toggle="modal" data-bs-target="#exampleModal1"></i>
                                                                                    <i class="fas fa-trash text-danger" title="Eliminar observación" onclick="EliminarObservacion(@itempa.IDrespuesta)"></i>
                                                                                </div>
                                                                            </li>
                                                                        }
                                                                    </ul>


                                                                }


                                                            </div>









                                                        </div>

                                                    </div>




                                                </div>





                                            </div>

                                            @foreach (var itemas in ViewBag.DetalleAsignacion)
                                            {
                                                <div class="row" style="margin-top:8%">
                                                    <!-- accepted payments column -->
                                                    <!-- /.col -->
                                                    <div class="col-8">

                                                    </div>
                                                    <div class="col-4">
                                                        <div class="row text-center" style="margin-bottom:2%">


                                                            <small class="float-right font-14 text-info"> <b>Fecha asignado: </b>@itemas.FechaAsignacion</small>
                                                            @if (itemas.Finalizado == false)
                                                            {
                                                                if (itemas.Fechafinalizado == null)
                                                                {


                                                                    <small class="float-right font-14 text-info text-center"><b>Última fecha editado:</b> No hay respuestas registradas previamente</small>
                                                                }
                                                                else
                                                                {
                                                                    <small class="float-right font-14 text-info text-center"><b>Última fecha editado:</b> @itemas.Fechafinalizado</small>
                                                                }
                                                            }


                                                            else
                                                            {


                                                                <small class="float-right font-14 text-info text-center"> <b>Fecha finalizado:</b> @itemas.Fechafinalizado</small>
                                                            }

                                                            <a href="@Url.Action("EvaluacionParAcademico", new RouteValueDictionary(new { controller = "Cuestionario", action = "EvaluacionParAcademico", Idcuestionario = itemc.IDcuestionario,Idlibro=@ViewBag.Idlibro,Ida=itemas.IDAsignacionCuestionario }))" class="btn btn-info float-right" style="margin-top:2%" target="_blank" title="Ver pdf">
                                                                <i class="fas fa-download"></i> Ver respuestas registradas
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <!-- /.col -->
                                                </div>
                                            }



                                        </div>




                                    </div>








                                </div>



                            </div>













                            <!-- Default box -->
                            <!-- /.card-body -->
                            <!-- /.card -->

                        </section>

                    }



                }






            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <br />
            <footer class="footer text-center">
                @{
                    string date = DateTime.Now.ToString("MM-dd-yyyy");
                    string year = date.Substring(6, 4);

                }
                <img src="https://localhost:44329/ImagesWeb/logo.png" alt="user" width="100"> Coordinación General de Investigación - Editorial Humus. © @year.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->




    <script src="~/Recursos/Plantilla/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Recursos/Plantilla/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Recursos/Plantilla/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>

    <!-- Toastr -->
    <script src="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.js"></script>

    <!--Wave Effects -->
    <script src="~/Recursos/Plantilla/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Recursos/Plantilla/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Recursos/Plantilla/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- Bootstrap 4 -->
    <script src="~/Recursos/Plantilla/pluginsn/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Recursos/Plantilla/distn/js/adminlte.min.js"></script>

    <!--sweetalert2-->
    <script src="~/Recursos/Plantilla/dist/js/sweetalert2.all.min.js"></script>
    <script src="~/Recursos/Plantilla/plugins/sweetalert2/sweetalert2.min.js"></script>




    <!-- Summernote -->
    <script src="~/Recursos/Plantilla/pluginsn/summernote/summernote-bs4.min.js"></script>






    <script>

         function Salir() {

        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quieres cerrar sesión?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, salir!',
            cancelButtonText:'Cancelar'
        }).then((result) => {
         if (result.isConfirmed) {

         var data = {

        }
        $.ajax({

            url: "@Url.Action("Logout", "Usuario")",
            type: 'POST',
            dataType: 'json',
            data: data,
            success: function (obj) {

                window.location.href = "@Url.Action("Login","Usuario")";
            }


        })


         }
        })

        }

    </script>



</body>

</html>






<script>




    function DatosEditar(Idpregunta, IDrespuesta, titulorespabierta, DescripcionRespuestaAbierta, Idobservacionpreg,Respuestas) {

        var respuest;
        document.getElementById('Idpreg').value = Idpregunta;
        document.getElementById('idresp').value = IDrespuesta;
        document.getElementById('tituloresp').value = titulorespabierta;
      /*  document.getElementById('descripresp').value = DescripcionRespuestaAbierta;*/
        
     
        $('#descripresp').summernote('code', DescripcionRespuestaAbierta);
        document.getElementById('Idobservacion').value = Idobservacionpreg;

        document.getElementById('respuestas').value = Respuestas;

    }







    function Datos1(IDpreguntaObservaciones, Idpregunta, Respuestas,Leyendainferior) {
        document.getElementById('Idobservacion1').value = IDpreguntaObservaciones;
        document.getElementById('Idpreg1').value = Idpregunta;
        document.getElementById('respuestas1').value = Respuestas;
        document.getElementById('titulo').value = "Capítulo (# de capítulo en formato de números romanos). Ej: Capítulo I";
        $('#descripcion').summernote('code', Leyendainferior);
        //document.getElementById('descripcion').value = Leyendainferior;


    }







    function Datos(IDpreguntaObservaciones, Detallepregobservacion, Idpregunta, Respuestas,Leyendainferior) {
        document.getElementById('Idobservacion2').value = IDpreguntaObservaciones;
        document.getElementById('detalle').value = Detallepregobservacion;
        document.getElementById('Idpreg2').value = Idpregunta;
        document.getElementById('respuestas2').value = Respuestas;
        $('#descripcion2').summernote('code', Leyendainferior);
      //  document.getElementById('descripcion2').value = Leyendainferior;
    }







    function GuardarRespuestasCapitulos() {


        var Idc=@ViewBag.Idcuestionario;
        var Idlibro = @ViewBag.Idlibro;
        var Idp = @ViewBag.Idproceso;
        var Tituloresp = document.getElementById("titulo").value;
        var resp = document.getElementById("descripcion").value;
        var Idpregunta = document.getElementById("Idpreg1").value;
        var Idob = document.getElementById("Idobservacion1").value;
        var Ida = @ViewBag.Idasignacion;
        var Idresp = 0;
        var IdentificadorTipoPregunta = 4;
        var respuesta = document.getElementById("respuestas1").value;
        var tipos = "NULL";
    /*    var respuesta = false;*/


            var data = {
                'idc': Idc,
                'ida': Ida,
                'idresp': Idresp,
                'idob':Idob,
                'idpregunta': Idpregunta,
                'identificadorTipoPregunta': IdentificadorTipoPregunta,
                'respabierta': resp,
                'titulorespabierta':Tituloresp,
                'idopcionpreg': 0,
                'idresplogica': 0,
                'tipoOpciones': tipos,
                'estado': false,
                'respuestas':respuesta,

            }
            $.ajax({

                url: "@Url.Action("RegistrarRespuestaObservaciones", "Cuestionario")",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (obj) {

                    window.location.href ="../Cuestionario/ObservacionesEvaluacion?IDlibro="+Idlibro+"&Idproceso="+Idp+"&Ida="+Ida+"";

                }

            })




    }









    function GuardarRespuestaObservacion() {


        var Idc=@ViewBag.Idcuestionario;
        var Idlibro = @ViewBag.Idlibro;
        var Idp = @ViewBag.Idproceso;
        var Tituloresp = document.getElementById("detalle").value;
        var resp = document.getElementById("descripcion2").value;
        var Idpregunta = document.getElementById("Idpreg2").value;
        var Idob = document.getElementById("Idobservacion2").value;
        var Ida = @ViewBag.Idasignacion;
        var Idresp = 0;
        var IdentificadorTipoPregunta = 4;
        var respuesta = document.getElementById("respuestas2").value;
        var tipos = "NULL";
    /*    var respuesta = false;*/


            var data = {
                'idc': Idc,
                'ida': Ida,
                'idresp': Idresp,
                'idob':Idob,
                'idpregunta': Idpregunta,
                'identificadorTipoPregunta': IdentificadorTipoPregunta,
                'respabierta': resp,
                'titulorespabierta':Tituloresp,
                'idopcionpreg': 0,
                'idresplogica': 0,
                'tipoOpciones': tipos,
                'estado': false,
                'respuestas':respuesta,

            }
            $.ajax({

                url: "@Url.Action("RegistrarRespuestaObservaciones", "Cuestionario")",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (obj) {

                    window.location.href ="../Cuestionario/ObservacionesEvaluacion?IDlibro="+Idlibro+"&Idproceso="+Idp+"&Ida="+Ida+"";

                }

            })




    }






    function EditarRespuestaPregAbiertaTipo4() {


        var Idc=@ViewBag.Idcuestionario;
        var Idlibro = @ViewBag.Idlibro;
        var Idp = @ViewBag.Idproceso;
        var Tituloresp = document.getElementById("tituloresp").value;
        var resp = document.getElementById("descripresp").value;
        var Idpregunta = document.getElementById("Idpreg").value;
        var Idob = document.getElementById("Idobservacion").value;
        var Ida = @ViewBag.Idasignacion;
        var Idresp = document.getElementById("idresp").value;
        var IdentificadorTipoPregunta = 4;
        var respuesta = document.getElementById("respuestas").value;
        var tipos = "NULL";
    /*    var respuesta = false;*/


            var data = {
                'idc': Idc,
                'ida': Ida,
                'idresp': Idresp,
                'idob':Idob,
                'idpregunta': Idpregunta,
                'identificadorTipoPregunta': IdentificadorTipoPregunta,
                'respabierta': resp,
                'titulorespabierta':Tituloresp,
                'idopcionpreg': 0,
                'idresplogica': 0,
                'tipoOpciones': tipos,
                'estado': false,
                'respuestas':respuesta,

            }
            $.ajax({

                url: "@Url.Action("RegistrarRespuestaObservaciones", "Cuestionario")",
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (obj) {

                    window.location.href = "../Cuestionario/ObservacionesEvaluacion?IDlibro=" + Idlibro + "&Idproceso=" + Idp + "&Ida=" + Ida + "";


                }

            })




    }






    function EliminarObservacion(IDrespuesta) {

        var Idlibro = @ViewBag.Idlibro;
        var Idp =@ViewBag.Idproceso;
        var Ida =@ViewBag.Idasignacion;



        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quieres eliminar esta observación?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, Eliminar!',
            cancelButtonText:'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {

                 var data = {

                     'Id': IDrespuesta


        }
        $.ajax({

            url: "@Url.Action("EliminarRespuestaObservación", "Cuestionario")",
            type: 'POST',
            dataType: 'json',
            data: data,

            success: function (obj) {

                window.location.href = "/Cuestionario/ObservacionesEvaluacion?IDlibro=" + Idlibro + "&Idproceso=" + Idp + "&Ida=" + Ida + "";


            }


        })


            }
        })



        }











</script>










@{

    if (TempData["OKEO"] != null)
    {
        <script>

            $('#TempData[OKEO]').ready(function () {
                Swal.fire(
                    'Eliminado!',
                    'Respuesta de observación ha sido eliminada.',
                    'success'
                )
            });


        </script>

    }

    if (TempData["OK"] != null)
    {
        <script>

        $('#TempData[OK]').ready(function () {
            toastr.success('@TempData["OK"]', 'TODO SALIÓ BIEN');
            });


        </script>

    }

    if (TempData["OKE"] != null)
    {
        <script>

        $('#TempData[OKE]').ready(function () {
            toastr.info('@TempData["OKE"]', 'TODO SALIÓ BIEN');
            });


        </script>

    }


    if (TempData["ERROR"] != null)
    {
        <script>

            $('#TempData[ERROR]').ready(function() {
                toastr.error('@TempData["ERROR"]', 'ERROR!!'
              )
          });
        </script>

    }
}
